- content_for :body_classes do
  = 'admin-page '

.grid-row.mod-heading
  .column-full
    %h1.heading-xlarge.mod-heading-border
      = t('management.header')

    %h2.heading-medium.with-border-lg
      = t('management.report_header')

    %h3.heading-small
      = "CSV extracts"
    #csv-extract
      %span.download-link
        = link_to 'Profiles', admin_profile_extract_path(format: :csv), class: "button"
      %span.download-link
        = link_to 'Teams', admin_team_extract_path(format: :csv), class: "button"

    %h2.heading-medium.with-border-lg.tool-name
      = t('management.tools_header')

    %ul
      %li#audit-trail
        = link_to 'Audit trail', audit_trail_path, class: "button"

    %h2.heading-medium.with-border-lg.tool-name
      Job Queue metrics

    %ul
      %li= "Processed jobs: #{@sidekiq_stats.processed}"
      %li= "Enqueued jobs: #{@sidekiq_stats.enqueued}"
      %li= "Failed jobs: #{@sidekiq_stats.failed}"
