<h1 class="govuk-heading-l">Manage People Finder</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Management options
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#reports">
        Reports
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tools">
        Tools
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#metrics">
        Metrics
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="reports">
    <h2 class="govuk-heading-m">Reports</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" id="profiles-download">
        <dt class="govuk-summary-list__key">
          Profiles
        </dt>
        <dd class="govuk-summary-list__value">
          A CSV of all profiles on People Finder with team, contact, and location data
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to admin_profile_extract_path(format: :csv), class: "govuk-link" do %>
            Download<span class="govuk-visually-hidden"> profiles CSV</span>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row" id="teams-download">
        <dt class="govuk-summary-list__key">
          Teams
        </dt>
        <dd class="govuk-summary-list__value">
          A CSV of all teams on People Finder and their ancestry (slash separated list of parent team IDs)
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to admin_team_extract_path(format: :csv), class: "govuk-link" do %>
            Download<span class="govuk-visually-hidden"> teams CSV</span>
          <% end %>
        </dd>
      </div>
    </dl>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tools">
    <h2 class="govuk-heading-m">Tools</h2>
    <h3 class="govuk-heading-s">Audit Trail</h3>
    <p class="govuk-body">
      A stream of all changes on People Finder, along with the option to undo individual
      changes. You can also find a list of changes to a specific profile on the profile
      itself.
    </p>
    <%= link_to 'Audit trail', audit_trail_path, class: 'govuk-button govuk-button--secondary' %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="metrics">
    <h2 class="govuk-heading-m">Metrics</h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Job queue metrics</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Job type</th>
          <th scope="col" class="govuk-table__header">Count</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Processed jobs</th>
          <td class="govuk-table__cell"><%= @sidekiq_stats.processed %></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Enqueued jobs</th>
          <td class="govuk-table__cell"><%= @sidekiq_stats.enqueued %></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Failed jobs</th>
          <td class="govuk-table__cell"><%= @sidekiq_stats.failed %></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
