- team_descriptor = @group.root_group? ? 'directorate' : 'team'

.grid-row.mod-heading
  .column-full
    %h2.heading-large.mod-heading-border
      = "#{team_descriptor.pluralize.capitalize} within"
      - if @group.acronym?
        = @group.acronym
      - else
        = @group.name

      %span.pull-right
        = link_to 'View all subteams', tree_group_path(@group), class: 'font-xsmall'
        - if @people_outside_subteams_count > 0
          = link_to "View #{ pluralize_with_delimiter @people_outside_subteams_count, 'person' } not assigned to a #{team_descriptor}", people_outside_subteams_group_path(@group), class: 'font-xsmall pipe-left'
        - if policy(Group).create?
          = link_to "Add new #{team_descriptor}", new_group_group_path(@group), class: 'font-xsmall pipe-left'

#teams.grid-row.mod-subgroups
  = render partial: "subgroup", collection: @group.children
