.user-account
  - if logged_in?
    %a{:href => person_path(current_user)}
      = "Hi, #{current_user.given_name}"
      %span.update-account
        - if current_user.completion_score < 100
          = "Set up your profile (#{current_user.completion_score}% complete)"
        - else
          View your profile
    = profile_image_tag current_user, link: true
