.user-account
  - if logged_in_regular?
    %a{:href => person_path(current_user)}
      = "Hi, #{current_user.given_name}"
      %span.update-account
        - if current_user.completion_score < 100
          = "Set up your profile (#{current_user.completion_score}% complete)"
        - else
          Edit your profile
    = profile_image_tag current_user, link: true
  - if feature_enabled?('token_auth')
    = link_to "Sign out", sessions_path, :method => :delete
