<div class="ws-search-and-profile-bar">
  <div class="ws-search-and-profile-bar__container ws-width-container govuk-grid-row">
    <div class="ws-search-and-profile-bar__search ws-search-field govuk-grid-column-one-half-from-desktop">
      <%= form_tag search_path, method: :get do %>
        <label for="search-main" class="govuk-visually-hidden">
          <%= t('shared.search.hint') %>
        </label>

        <div class="ws-search-field__item-wrapper">
          <%= search_field_tag :query, @query, class: 'ws-search-field__item ws-search-field__input', id: 'search-main', placeholder: t('shared.search.hint') %>

          <% SearchHelper::FILTERS.each_value do |value| %>
            <%= hidden_field_tag 'search_filters[]', value %>
          <% end %>

          <div class="ws-search-field__item ws-search-field__submit-wrapper">
            <%= submit_tag 'Search', class: 'ws-search-field__submit' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="ws-search-and-profile-bar__profile govuk-grid-column-one-half-from-desktop">
      <%= link_to person_path(current_user), class: 'ws-search-and-profile-bar__profile-link' do %>
        <% if current_user.profile_image %>
          <%= image_tag current_user.profile_image.medium.url, class: 'ws-search-and-profile-bar__profile-image', alt: "Profile image of #{current_user.name}" %>
        <% end %>
        <div class="ws-search-and-profile-bar__profile-details">
          Hi, <%= current_user.given_name %>
          <span class="ws-search-and-profile-bar__profile-prompt">
            <% if current_user.complete? %>
              View your profile
            <% else %>
              Set up your profile (<%= current_user.completion_score %>% complete)
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
